.container-banner {
	background-color: #501646;
	text-align: center;
	/* padding: 24px; */
	position: relative;
}

.container-banner > img  {
	width: 300px;
}


.sobre-mim, .coisas-que-gosto  {
	width: 960px;
	margin: 48px auto;
	position: relative;
}

.imagem-computador {
	display: inline;
	margin-right: 100px;
	border-radius: 50%;
	padding: 100px 100px;
	background-image: url("../imagens/home.jpg");
	background-position: center center;
	background-size: cover;
}

.sobre-mim p {
	display: inline-block;
	vertical-align: middle;
	width: 600px;
	font-size: 20px;
	text-align: left;
}

.coisas-que-gosto ul {
	width: 500px;
	margin-right: 80px;
	display: inline-block;
	vertical-align: middle;
	list-style: none;
}

.lista-gostos  li {
	font-size: 20px;
}

.lista-gostos  li::before {
	content: '> ';
	font-weight: bold;
}

.video {
	width: 372px;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
}